---
import { Image } from "astro:assets";
import footer_img from "../../../public/assets/footer-img.svg";
import twitter from "../../../public/assets/twitter.svg";
import discord from "../../../public/assets/discord.svg";
import youtube from "../../../public/assets/youtube.svg";
import tiktok from "../../../public/assets/tiktok.svg"
---

<div>
    <div class="w-full bg-black">
    <Image
    src={footer_img}
    format="svg"
    alt={""}    
    class="w-full h-full"
  />
    </div>
    <div class="bg-black">
        <div class="bg-[url('/assets/bg-main.png')] bg-center bg-cover">
          <div class="bg-[#000000ef]">
    <div class=" h-[120px] flex items-center justify-between text-[20px] text-white p-5  ">
        <span>
            @ 2025 Hoops to College. All rights reserved.
        </span>
        <span class="flex items-center  gap-4">
            <Image src={twitter} format="svg" alt={"logo"}    />
            <Image src={discord} format="svg" alt={"logo"}    />
            <Image src={youtube} format="svg" alt={"logo"}    />
            <Image src={tiktok} format="svg" alt={"logo"}    />
         </span>
         <span class="flex items-center  gap-2.5">
            <span>
                Term & Conditions
            </span>
            <span class="w-[5px] h-[5px] rounded-full bg-[#000000]">
            </span>
            <span>
                Privacy Policies
            </span>
         </span>
    </div>
    </div>
        </div>
        </div>
</div>
